doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=0.75, maximum-scale=0.75, user-scalable=no')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title Marsann Tablet App
    link(href='/manifest.drawing.json', rel='manifest')
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/fonts.css', rel='stylesheet')
    link(href='css/owl.carousel.css', rel='stylesheet')
    link(href='css/styles.css', rel='stylesheet')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body#drawing
    h1 Losovanie
    
    img(src='img/unknown-winner.png' id='winner-photo' width='668' height='603')
    
    p#winner-full-name
    p#winner-email

    input(id='toggle-drawing' type='submit', value='Zastaviť losovanie')
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='js/bootstrap.min.js')
    script(src='js/drawing.js')
