doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=0.75, maximum-scale=0.75, user-scalable=no')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title Marsann Tablet App
    link(href='/manifest.index.json', rel='manifest')
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/fonts.css', rel='stylesheet')
    link(href='css/owl.carousel.css', rel='stylesheet')
    link(href='css/styles.css', rel='stylesheet')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    h1
      img(src='./img/top-ribbon.png', alt='Máme tu Vašu fotku, lebo ste zlatý.')
    #gallery
      .owl-carousel
    #pagination
      button#newer.owl-prev novšie
      span |
      button#older.owl-next staršie
    footer
      img(src='./img/marsann-logo.svg', alt='Marsann logo', width='190')
    #detail
      button#close-detail-btn
      img#big-photo(src='./img/big-photo.png', alt='Fandím s LenovoOnline.sk', width='668', height='605')
      form#send-mail-form(action='')
        .form-group
          input.form-control(type='text', name='first_name', placeholder='meno')
        .form-group
          input.form-control(type='text', name='last_name', placeholder='priezvisko')
        .form-group
          input.form-control(type='email', name='email', placeholder='e-mailová adresa')
        .checkbox
          label
            input(type='checkbox', name='agree_terms')
            .checkbox-placeholder
            p
              | Súhlasím so správou, spracovaním a uchovaním mojich osobných údajov v spoločnosti MARSANN IT s r.o. Poskytnutie údajov je dobrovoľné a bez dôsledkov s tým, že tieto údaje môžu byť spracované pre účely databázy uchádzačov o zamestnanie v zmysle Zák. č. 428/2002 Zb. o ochrane osobných údajov. Súhlas je daný na dobu neurčitú a podľa § 20 ods. 3 cit. zákona je ho možné kedykoľvek písomne odvolať.
          .clearfix
        input(type='submit', value='odoslať fotku')
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.min.js')
    script(src="js/owl.carousel.min.js")
    script(src="js/script.js")
