 body {
  width: 800px;
  height: 1183px;

  padding-top: 40px;

  background-color: black;
  background-image: url('../img/bg.jpg');
  background-position: top left;
  background-repeat: no-repeat;

  font-weight: 200;
  font-size: 13px;
  font-family: 'HelveticaNeue', Arial, sans-serif;
}

h1 {
  color: #f3ce71;
  font-size: 4em;
  text-align: center;
  font-weight: bold;
  margin: 0px 0px 45px 0px;
}
  h1 img,
  footer img {
    margin: 0 auto;
    display: block;
  }

#drawing h1 {
  margin-bottom: 110px;
}

#gallery {
  margin: 0px auto 40px auto;
  width: 700px;
}
  #gallery .photo-tile {
    display: inline-block;
    margin: 2px 3.5px;
    padding: 0px;
    border: 0px;
    background-color: transparent;
  }
  #gallery .photo-tile > img {
    width: auto;
  }
  #gallery .photo-tile.sent > img {
    -webkit-filter: saturate(0%);
  }

#pagination {
  text-align: center;
  color: #f3ce71;
  font-size: 1.69em;
  margin-bottom: 70px;
  display: none;
}
  #pagination > span {
    font-size: 1.3em;
  }

  #pagination > button {
    border: 0px solid transparent;
    background-color: transparent;
    background-repeat: no-repeat;
  }

  #newer {
    background-image: url('../img/arrow-left.png');
    background-position: left 10px;
    padding-left: 25px;
    padding-right: 10px;
  }

  #older {
    background-image: url('../img/arrow-right.png');
    background-position: right 10px;
    padding-left: 10px;
    padding-right: 25px;
  }

#detail {
  display: none;

  z-index: 1;
  position: absolute;
  left: 0px;
  top: 0px;

  width: 800px;
  height: 1183px;

  padding-top: 100px;
  background-color: rgba(0,0,0, 0.9);
}
  #close-detail-btn {
    width: 40px;
    height: 40px;
    display: block;

    padding: 0px;

    position: absolute;
    top: 32px;
    right: 35px;

    border: 0px solid transparent;
    background-color: transparent;
    background-size: 29px 29px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../img/close-btn.png');

  }

  #big-photo {
    display: block;
    margin: 0 auto;
  }

  #send-mail-form {
    width: 430px;
    margin: 0 auto;
  }
    .form-control {
      height: auto;
      text-align: center;
      color: #f3ce71;
      background-color: transparent;

      font-size: 2.4em;
      line-height: 1.5em;

      padding: 6px 12px 0px 12px;
      border-radius: 0px;
      border: 0px solid transparent;
      border-bottom: 2px solid #f3ce71;
    }
    .form-control:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
      border-color: #f3ce71;
    }
    .form-control::-webkit-input-placeholder { color: #f3ce71; }
    .form-control::-moz-placeholder { color: #f3ce71; }
    .form-control:-ms-input-placeholder { color: #f3ce71; }
    .form-control:-moz-placeholder { color: #f3ce71; }

    .form-group {
      margin-bottom: 0px;
    }

    input[type="submit"] {
      text-align: center;
      color: #f3ce71;
      font-size: 2.4em;

      background-color: transparent;
      border: 2px solid #f3ce71;
      display: block;
      margin: 0 auto;
      padding: 4px 16px;
    }

    .checkbox {
      margin: 45px auto;
    }
      .checkbox > label {
        padding-left: 0px;
        width: 390px;
      }
        .checkbox > label > .checkbox-placeholder {
          width: 21px;
          height: 21px;
          background-position: 0px 0px;
          background-repeat: no-repeat;
          background-image: url('../img/checkbox-sprite.png');
          float: left;
        }
        .checkbox > label > input[type="checkbox"]:checked + .checkbox-placeholder {
          background-position: 0px -21px;
        }
        .checkbox > label > input[type="checkbox"] {
          display: none;
        }
        .checkbox > label > p {
          float: right;

          width: 350px;
          height: 108px;

          overflow-y: auto;
          margin-bottom: 0px;
          color: #6f6f6f;
        }

#already-sent {
  text-align: center;
  color: #f3ce71;
  font-size: 2.4em;
}

#winner-photo {
  width: 668px;
  height: 603px;
  margin: 0 auto 45px auto;
  display: block;
}

#winner-full-name,
#winner-email {
  color: #f3ce71;
  font-size: 3em;
  text-align: center;
}
#winner-email {
  margin-bottom: 100px;
}

#storage-table {
  color: white;
  font-size: 16px;
  width: 100%;
  margin-top: 30px;
  border-top: 1px solid white;
}

#storage-table td {
  padding: 10px 20px;
}
